extends index.jade
block vars
    - path="./"
    - var activeNav='problems'
block content
    div(ng-controller='choiceSelect').choice-select
        table.title-table
            tr
                td: img(src='./images/solve-problem-choice.jpg')
                td: span выбор решений
        table.question
            tr(ng-click='choice(1)')
                td
                    img(src='./images/icons/choice-unselected.svg' ng-class='{hide: answer==1}').icon-unselected
                    img(src='./images/icons/choice-selected.svg' ng-class='{show: answer==1}').icon-selected
                td
                    span Если у Вас уже есть какая-то проблема и она беспокоит Вас почти каждый день, разрушая привычный ритм жизни и доставляя неудобство

        .answer(ng-class='{show: answer==1}')
            span Я рекомендую Вам записаться на <a href='/psychoanalysis.html'>личную консультацию</a> или выбрать из <a href='./trainings.html'>тематических тренингов</a> и пройти один из них.

        table.question
            tr(ng-click='choice(2)')
                td
                    img(src='./images/icons/choice-unselected.svg').icon-unselected
                    img(src='./images/icons/choice-selected.svg').icon-selected
                td
                    span Проблема есть, но она скорее проявляется волнами и приступами

        .answer(ng-class='{show: answer==2}')
            span
                | Вам лучше всего подойдут <a href='./seminars.html'>семинары</a>, на которых вы сможете узнать больше о волнющей Вас проблеме. Либо <a href='./trainings.html'>тренинги</a>,
                | где Вы сможете в игровой форме и безопасной ситуации попытаться обнаружить причины Вашего беспокойства и нати решение.

        table.question
            tr(ng-click='choice(3)')
                td
                    img(src='./images/icons/choice-unselected.svg').icon-unselected
                    img(src='./images/icons/choice-selected.svg').icon-selected
                td
                    span Проблемы как таково у Вас нет, но она есть у родственников и Вы беспокоитесь что такая же проблема моежт появится у Вас и не знаете что делать

        .answer(ng-class='{show: answer==3}')
            span
                | В такой ситуации Вы можете как начать с <a href='./seminars.html'>семинаров</a>, так и сразу записаться на <a href='/psychoanalysis.html'>личную консультацию</a>.

