extends index.jade
block vars
    - path="./"
    - var activeNav='seminars'
block content
    .photo-grid.seminars
        .col1
            a(href='http://icievolution.com/training/3' target='_blank')
                img(src='./images/seminars/dreams.jpg')
                .seminar-title Сновидения
        .col1
            a(href='http://icievolution.com/training/7' target='_blank')
                img(src='./images/seminars/relationship-money.jpg')
                .seminar-title Отношения и деньги
        .col1
            a(href='http://icievolution.com/training/19' target='_blank')
                img(src='./images/seminars/i-am-woman.jpg')
                .seminar-title Я Женщина. Пробуждение
        .col1
            a(href='http://icievolution.com/training/20' target='_blank')
                img(src='./images/seminars/psyho-without-diplom.jpg')
                .seminar-title Психология без диплома
        .col1
            a(href='http://icievolution.com/training/4' target='_blank')
                img(src='./images/seminars/relations.jpg')
                .seminar-title Отношения - интимность, сексуальность, ответственность
