.article-text
    p
        |Suspendisse eleifend tempus egestas. Duis suscipit viverra congue. Pellentesque rhoncus, tellus tincidunt finibus imperdiet, sapien ex dapibus neque, quis sagittis nulla ex in odio. Cras pulvinar magna leo, eu egestas velit interdum non. In luctus tortor nec tellus viverra, in gravida augue faucibus. Aenean eget convallis lorem. Curabitur iaculis porta facilisis. Nulla tempus feugiat pellentesque. Nulla lacinia nisi sed ligula tincidunt rhoncus. Integer eget luctus nibh. Fusce lobortis bibendum augue ac congue. Phasellus eu enim sed orci consequat mollis. Nullam at venenatis diam. Cras finibus diam augue, ut facilisis nibh bibendum ut. Suspendisse tristique odio in elit pharetra, ac blandit lorem sagittis. Vestibulum hendrerit posuere ante, a maximus arcu congue nec.

    p
        |Duis vel purus orci. Praesent id volutpat lectus. Nam a posuere elit, eu egestas nisl. Nam risus metus, ullamcorper sed blandit sed, euismod eu mi. Pellentesque libero turpis, placerat nec eros non, lacinia viverra nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque non interdum sem, ac euismod felis. Nam venenatis, neque eu lobortis luctus, nunc sem ultricies turpis, id viverra lectus mi vitae felis. Phasellus venenatis odio convallis urna condimentum malesuada eget eget velit. Curabitur ultricies, velit sit amet commodo iaculis, ipsum risus lobortis ex, quis consequat eros massa et sapien. Mauris sed nisl a mauris fringilla dignissim vitae in enim.
.article-img
    img(src='./images/problem-sqr/work-conflict.jpg')