.article-text
    p Несколько слов о синдроме выгорания. Об этом много написано и его исследуют, но никак его не побороть.
    p Что же это за «зверь»?
    p
        |Был у меня клиент, который, как поют в песне «я только встал и уже устал». Он был очень раздражителен и всегда видел
        |во всем источник проблем. И все наши встречи сводились к разговору о работе. Да,  он много и активно работал,
        |был весьма успешным менеджером, но причины его обращения не звучали так: «Я страдаю работоголизмом, вылечите».
        |Он пришел повысить свою эффективность. Причиной «измов» может быть многое. Работоголизм тоже одна из форм избегания.
        |Человека что-то не устраивает в семье, в его эмоциональной жизни, и тогда он принимает решение, что он может
        |контролировать ситуацию через деятельность. Проблема его «отпускает», он берется за дело, но вскоре
        |причина опять приходит и дает о себе знать.
    p
        |Несколько лет назад наш герой переехал в Москву по работе. У него была девушка, которая осталась в его родном городе,
        |ей хотелось продолжить свою карьеру. Мой клиент так и не смог скомпенсировать своей деятельностью эту потерю.
    p
        |Работоголизм – часто нарушение баланса Давать и Брать на работе. Это происходит когда мы даем эмоционально, психически и физически
        |больше чем получаем. Ведь не все измеряется деньгами. На начальном этапе нам необходим эмоциональный баланс:
        |мы должны чувствовать, что у нас получается то, что мы делаем. Когда навыки освоены, нам хочется больше получать,
        |мы работаем качественно. Позже, когда потолок з/п достигнут, мы можем начать искать другую работу, а если попадемся
        |к «умному» владельцу, то получаем чувство принадлежности, что очень важно. Если на каких-то этапах мы этого не имеем,
        |нарушается баланс. Мы хотим его восстановить, но попадаемся …. Белка в колесо!
    p
        |Мой клиент разрешил себе увидеть при полной загруженности на работе свое одиночество и заплаченную цену за
        |свою деятельность. Когда он смог справиться с эмоциональной пустотой, он позволил себе осмотреться, понять,
        |что на самом деле он хочет от жизни на этом этапе.
.article-img
    img(src='./images/problem-sqr/work-burn.jpg')
