.article-text
    p
        |Я не оргконсультант. Но я училась орграсстановкам, где мне пришлось столкнуться с вызовом как психологу.
        |Многие люди из бизнеса не принимают психологию. А зря…

    p
        |Один мой клиент, хозяин бизнеса, как-то сказал: «Лия, там, где начинаются настоящие большие дела, без знания психологии
        |людей делать нечего.. Почему на одних я могу надавить и потребовать, а с другими надо долго и обходительно вести себя.
        |Это не тонкости манипулирования. Психология – это как нож в разных руках: где-то может ранить, а где-то и помочь.

    p
        |В работе тема партнерста и коллектива очень актуальна, ведь при правильном распределении сил появляется Синергия.
        |Эффект 1+1 = 3. А если нет, то 1-1 = -2
    p
        |Как же это вычислить? Я использую «архетипический тест». Он показывает, какие энергии в психической жизни человека
        |преобладают, а какие у него в Тени.
    p
        |<a href='http://icievolution.com/training/8' target='_blank'>Орграсстановки</a>. Иногда важно увидеть, что в своем сотруднике мы можем не заметить перенос на кого-то
        |из своих близких или «врагов» и тогда взаимодействие с ним становится неэффективным, хотя
        |в реальности сотрудник хорошо справляется со своими обязанностями. Таким образом на тренингах можно увидеть где
        |внешние поведенческие связи, а где то, что нас связывает внутренне. И эти знания помогают эффективно работать и управлять коллективом.

.article-img
    img(src='./images/problem-sqr/work-conflict.jpg')