.article-text

    p Сегодня у многих людей эта тема номер один в жизни.
    p - то ли я делаю?
    p - как понять чем является дело моей жизни?
    p - как найти «поток» на работе? И т.д. и т.п.
    p Когда-то мне даже пришлось разработать тренинг «Призвание».
    p Что же это такое и как его найти?
    p
        |Призвание – это быть к чему-то и кем-то призванным. Мы ищем призвание, но это не такое уж и простое дело.
        |Тебя призывают, как в армию, и ты можешь «откосить», а можешь взять вызов Судьбы. Не все готовы согласиться со своей
        |Судьбой и с тем, как течет его жизнь.
    p
        |Призвание – это не форма деятельности, а ее содержание, ее смысл, а смысл любой деятельности у каждого один и
        |тот же – приносить пользу миру. Сапожник, который с любовью делает свое дело и служит своей профессией людям будет
        |гораздо эффективнее, чем врач, который работает без смысла.
    p
        |Итак, что же такое Призвание и как его найти. Ждем вас у нас на семинаре!

.article-img
    img(src='./images/problem-sqr/work-choice.jpg')
