extends index.jade
block vars
    - path="./"
    - var activeNav='about'
block content
    .photo-grid
        .about-cite Я убеждена, что все в жизни - для того, чтобы мы научились любить: себя , людей и этот Мир.
            | Пусть дорога превратится в Путь, желания в цели, страх в мотивацию, и тогда…. Мы встретимся с Самим Собой.

        ul.about-list
            li Юнгианский аналитический психолог и психотерапевт c более 20-летним опытом консультирования, проведения тренингов и семинаров.
            li Семейный системный психотерапевт, специалист по системным организационным расстановкам.
            li
                | Председатель модальности юнгианского анализа
                | <a href='http://www.oppl.ru/'>Профессиональной Психотерапевтической Лиги (ППЛ)</a>
            li
                | Директор <a href='http://icievolution.com/'>Международный Центр Развития Личности</a>
            li
                | Преподаватель юнгианского анализа <a href='http://roapinfo.ru/'>Российском Обществе Аналитической Психологии (РОАП) </a>
            li
                | Преподаватель <a href='http://www.mostik.org/'>Института консультирования и системных решений</a>
            li
                | Входит в мировой реестр аналитических психологов <a href='http://www.iaap.org/'>IAAP</a>
            li
                | Шеф-координатор технологии <a href='http://swtraining.ru/'>ShadowWork</a> в России

