extends index.jade
block vars
    - path="./"
    - var activeNav='contact'
block content
    .photo-grid
        div
            #map(yandex-map="{lat:55.753392, lon:37.641373, adr:'г.Москва, <br> Подкопаевский пер. 6'}")

block append scripts
    script(src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU")
