extends index.jade
block vars
    - path="./"
    - var activeNav='relationship'

block content
    .photo-grid
        table.relationship
            tr
                td
                    img(src='./images/relationship01.jpg')
                td
                    span Хочу замуж
            tr
                td
                    span Отношения с детьми
                td
                    img(src='./images/relationship02.jpg')
            tr
                td
                    img(src='./images/relationship03.jpg')
                td
                    span Измены
            tr
                td
                    span Разводы
                td
                    img(src='./images/relationship04.jpg')
            tr
                td
                    img(src='./images/relationship05.jpg')
                td
                    span Одиночество

