.article-text
    p
        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae neque id nunc ullamcorper convallis a vel turpis.
        |Pellentesque in egestas est. Vestibulum nisl neque, imperdiet ac maximus eget, pretium non quam. Mauris ultricies lectus quis
        |risus vulputate, eget iaculis risus iaculis. Vivamus non neque luctus, tincidunt elit ut, accumsan leo.
        |Donec efficitur tincidunt mauris ac scelerisque. In id metus magna.

    p
        |Quisque sit amet nisl dui. Aliquam at mauris posuere enim efficitur malesuada. Suspendisse vitae placerat est, vitae
        |feugiat lorem. Maecenas vitae tellus at mi feugiat pretium. Sed id lectus ultrices, molestie libero vitae, condimentum enim.
        |Pellentesque id commodo nulla, eget molestie diam. Donec mattis sagittis luctus. Pellentesque eu risus eu ex faucibus commodo
        |eu sed quam. Donec vitae lectus mollis, condimentum nibh id, bibendum elit. Nullam ullamcorper et erat nec sollicitudin.
        |Praesent vel orci nisl.
.article-img
    img(src='./images/problem-sqr/work-burn.jpg')
