.article-text
    p
        |Pellentesque facilisis ullamcorper sollicitudin. Aenean et augue dictum, tempor sem et, feugiat lacus. Mauris eu ultrices arcu.
        |Aliquam accumsan tellus nulla, et semper libero consequat sit amet. Suspendisse potenti. Etiam euismod felis gravida quam
        |condimentum finibus. Nullam semper feugiat mi, id vehicula nisi auctor ut. Morbi sodales, tellus ac eleifend vulputate, purus
        |velit aliquam arcu, vel cursus nisl elit ac ligula. Aenean consectetur facilisis mauris quis dignissim. Nunc faucibus dignissim
        |quam, commodo euismod ante consectetur convallis. In dolor elit, varius at turpis blandit, rhoncus elementum ligula.
        |Quisque maximus libero libero, laoreet venenatis leo feugiat in. Morbi interdum velit nibh, nec eleifend neque laoreet eget.
        |Integer mollis aliquet sem, tristique blandit elit rutrum nec. Ut tempus ipsum vitae ipsum pellentesque accumsan.
        |Maecenas sed augue feugiat, semper tellus eu, feugiat elit.
.article-img
    img(src='./images/problem-sqr/work-choice.jpg')
